<div class= {{if @mainClass @mainClass 'postPart'}}>
    {{#if @isShowUserBox}}
            <div class='postUserBox'>
                <img src={{@userProfileUrl}} class='postUserImage'>
                <span>{{@userName}}</span>
                <i class="fa-solid fa-ellipsis postIcon"></i>
            </div>
            <div class='postUserBox'>
                <img src={{@userProfileUrl}} class='postUserImage'>
                <p>
                    <span>{{@userName}}</span>
                    <span>{{@caption}}</span>
                </p>
            </div>
    {{else}}
        <p class= 'commentBoxHead'><i></i><span>Comment</span></p>
    {{/if}}
            <div class={{if @commentListClass @commentListClass 'commentContainer'}}>
                {{#each @comments as |comment|}}
                <CommentBox @path='instagram.profile' @profileId={{@getProfileId}}
                    @src={{this.getCommentUserProfile comment.user.id 'profile'}} @classForImage={{"postUserImage"}}
                    @userName={{this.getCommentUserProfile comment.user.id 'userName'}}
                    @commentText={{comment.commentText}} @time={{this.getTime comment.commentedDate}}
                    @likesCount={{comment.likesCount.length}} @onRemove={{@removeLike}} @onAdd={{@addLike}}
                    @comment={{comment}} @getIsLike={{@getIsLike}} />
                {{/each}}
            </div>
            {{#if @isShowUserBox}}
            <div class='likesContainterPost'>
                {{log 'pos ' @post}}
                <PostIcon @post = {{@post}} @setShowShareList = {{@setShowShareList}} @saveClass = 'fas fa-bookmark saveIcon' @unSaveClass = 'fa-regular fa-bookmark saveIcon'/>
                <span style="padding-left: 5px;
    line-height: 3;
    font-weight: 900;">{{@post.likesCount.length}} likes</span>
                <span></span>
            </div>
            {{/if}}
            <div class='commentTypeBox'>
                <img src={{@userProfileUrl}} class='commentUser'>
                <Input @type='text' class='commentTextPost' placeholder="Add a Comment" @value={{@commentText}}
                    @enter={{@sendComment}} />
                <i class="fa fa-smile-o" aria-hidden="true" style="font-size: 22px;" ></i>
            </div>
        </div>